{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<div class="text-center">
    <h2>How to play:</h2>
    <h5>This game is farely simple:</h5>
    <p>The Website gives you each round two random cities from all around the world. You then have to guess what city is closer to your geographic location 
    (You can see your location at the top of the website). Keep guessing correctly and increase your score. 
    In the end you can submit your score to the online leaderboard to compete with players all around the world.</p>
    <p>Have fun!</p>
</div>
{% endblock %}
