{% extends "layout.html" %}

{% block title %}
    Leaderboard
{% endblock %}

{% block main %}
<table id="table_1" class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for data_row in data %}
            <tr>
                <td>{{ data_row["name"] }}</td>
                <td>{{ data_row["score"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>
{% endblock %}
